/* for design  */
*{
   font-family: 'Poppins', sans-serif;
   font-weight: 400;
   margin: 0;
   padding: 0;
   text-decoration: none;
   box-sizing: border-box;
   outline: none;
}

html{
   font-size: 100%;
   overflow-x: hidden;
}

.header{
    width: 100%;
    height: 90vh;
    background-image: url("/static/apparelapp/images/uidesign/headerhome.jpeg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content:flex-end;   
    background-repeat: no-repeat;
 }

.header .start-text{
   transform: translateY(50px);
   opacity: 0.3;
   color: rgb(48, 44, 44);
   margin-right: 20%;
   text-align: center;
   animation: move 1s ease-out forwards;
}

.header .start-text h1{
    transform: translateY(45px);
    opacity: 0.3;
    font-size: 65px;
    margin: 0;
    animation: move 1s ease-out forwards;
}
.header .start-text p{
    transform: translateY(30px);
    font-size: 15px;
    opacity: 0.3;
    animation: move 1s ease-out forwards;
}

.button{
    text-decoration: none;
    opacity: 0.3;
    color: rgb(54, 53, 53);
    border: 1px solid rgba(54, 53, 53, 0.7);
    padding: 14px 25px;
    border-radius: 5px;
    transform: translateY(50px);
    transition: 0.5s ease-in;
    animation: move 0.3s ease-out forwards;
}

.button:hover{
    color: white;
    background-color: rgb(250, 195, 118);
    border: 1px solid rgba(255, 225, 182, 0.7);
}

#service .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 50px;
    justify-content: space-evenly;
}
#service .container .item{
    text-align: center;
    padding: 55px;
}
#service .container .item:nth-child(2), .container .item:nth-child(3){
    border-left: 1px solid rgba(0, 0, 0, 0.18);
}

#service .container .item img{
    width: 65px;
    opacity: 0.8;
    height: auto;
}

.title{
    font-size: 30px;
    font-weight:500;
}

.title-quote{
    font-size: 15px;
    font-weight:300;
}

.category {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
    text-align: center;
}

.Gallery {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 1.2em 1em;
    }
.Gallery .outfits{
        position: relative;
        width: 250px;
        height: 460px;
        overflow: hidden;
}

.Gallery .outfits img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 1s ease;
}

.Gallery .categ{
    position: relative;
    width: 18em;
    height: 18em;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.Gallery .categ .direct{
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 15%;
    display: none;
    color: white;
    padding: 15px 35px;
    backdrop-filter: blur(7px);
    border-radius: 20px;
}

.links{
    text-decoration: none;
    color: inherit;
}

.links:hover{
    text-decoration: underline;
}

.category .Gallery .categ:hover .direct{
    display: block;
}

.Gallery .categ img{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    transition: transform 0.3s ease;
}

.Gallery .outfits img:hover, .Gallery .categ img:hover {
    transform: scale(1.1);
}

footer{
        position: relative;
        margin-top: 3em;
        background-color: #a1a0a0;
        padding: 5px;
        height: 35vh;
    }
footer .row {
        align-items:center;
    }
footer .row .foot .row{
        text-align: center;
        align-items: start;
    }
footer .row .foot .row .col p{
        font-weight: 200;
    }

#types {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 50px;
}

.type{
    position: relative;
    width: 100%;
    height: 370px;
    overflow: hidden;
}

.type::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, rgba(48, 48, 48, 0.6), rgba(33, 33, 33, 0)),
                linear-gradient(to left, rgba(35, 35, 35, 0.6), rgba(198, 43, 43, 0));
    z-index: 1;
    transition: background-color 0.3s ease;
}
#types .type:hover::before {
    background-color: rgba(0, 0, 0, 0.15); 
}

#types .type img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 0; 
}

.typelink {
    position: absolute;
    backdrop-filter: blur(7px);
    border-radius: 45px;
    padding: 20px;
    z-index: 4;
    color: #fff;
}

.type .left{
    top: 40%;
    left: 8%;
    text-align: start;
}
.type .right{
    top: 40%;
    left: 70%;
    text-align: end;
}

.type .typelink h1{
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 0;
}
.type .typelink p{
    font-weight: 300;
    font-style: italic;
    margin-bottom: 20px;
}
.type .typelink a{
    color: white;
    border: 1px solid white;
        
}
/* items and cart design */
.apparellist{
    display: flex;
    flex-direction: column;
}

.apparellist-item{
    display: flex;
    flex-wrap: wrap;
    gap: 1em 2.2em;
    justify-content: flex-start;
}
.apparelitem{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 1px solid black;
    height: 22.8em;
    width: 18.5em;
}

.item-img{
    height: 16em;
    width: 100%;
    position: relative;
    border-bottom: 1px solid black;
    overflow: hidden;

}
.item-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.8s ease;
}
.item-img img:hover{
    transform: scale(1.05);
}
.item-name{
    flex: 30%;
    padding: 0.7em;
}

.item-name p{
    font-weight: 300;
}

/* registration and account design */

.createform{
    background-image: url('/static/apparelapp/images/uidesign/loginimage.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.profile{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 2em;
    position: relative;
}

.img-profile{
    height: 9.4em;
    width: 9.4em;
    position: relative;
    margin-right: 1em;
}
.img-profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid rgb(62, 62, 62);
    object-position: center;
}

.infoprofile{
    align-items: center;
}

.profiletitle{
    font-weight: 600;
} .profileinfo{
    font-weight: 300;
}

.infovalue{
    padding: 1em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#contactus{
    background-image: url('/static/apparelapp/images/uidesign/contact.png');
    background-position: center;
    background-size: cover;
}

.whiteblur{
    backdrop-filter: blur(6px);
    background-color: #e2e2e222;
    color: rgb(247, 224, 189);
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
}

.buttonblur{
    backdrop-filter: blur(5px);
    display: inline-block;
    border-radius: 10px;

}

.filtercategory{
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.47);
    padding: 0.5rem;
}

.filtercategory:hover{
    opacity: 0.7;
}


@keyframes move{
   to {
       opacity: 1;
       transform: translateY(0);
   }
}