{% extends "base.html" %}
{% load static %}

{% block content %}
<section class='container'>
       <div id='types'>
            <div class='type right'>
                <img src="{% static "apparelapp/images/uidesign/shirts.png" %}" alt='topwear'>
                <div class='typelink'>
                    <h3>TopWears</h3>
                    <p>Shirts,Jackets, and Coats.</p>
                    <a class='button' href="{% url "apparelapp:topapparels" %}">Shop Now</a>
                </div>
            </div>

            <div class='type left'>
                <img src="{% static "apparelapp/images/uidesign/pants.png" %}" alt='botwear'>
                <div class='typelink'>
                    <h3>Bottomwears</h3>
                    <p>Shorts, Jeans, Trouser, Underwears.</p>
                    <a class='button' href="{% url "apparelapp:botapparels" %}">Shop Now</a>
                </div>
            </div>

            <div class='type right'>
                <img src="{% static "apparelapp/images/uidesign/shoess.png" %}" alt='footwear'>
                <div class='typelink'>
                    <h3>Footwears</h3>
                    <p>Sneakers, Casual shoes, Loafers, and Sandals. </p>
                    <a class='button' href="{% url "apparelapp:footapparels" %}">Shop Now</a>
                </div>
            </div>
       </div>

       <div id='categories'>
            <div class='category'>
                <img src="" alt="...">
            </div>
            <div class='category'>
                <img src="" alt="...">
            </div>
            <div class='category'>
                <img src="" alt="...">
            </div>
            <div class='category'>
                <img src="" alt="...">
            </div>
            <div class='category'>
                <img src="" alt="...">
            </div>
            <div class='category'>
                <img src="" alt="...">
            </div>
            <div class='category'>
                <img src="" alt="...">
            </div>
            <div class='category'>
                <img src="" alt="...">
            </div>
       </div>
    </section>

{% endblock content %}            
