{% extends "base.html" %}
{% load static %}

{% block title %}Footwears{% endblock title %}

{% block content %}
<section class='container-fluid'>
    <div id='types'>
        <div class='type rounded'>
            <img class='img-fluid rounded' src="{% static "apparelapp/images/uidesign/shoess.png" %}" alt='footwear'>
            <div class='typelink left'>
                <h1>Footwears</h1>
                <p>Casual shoes, Sandals, and Underwears. </p>
            </div>
        </div>
    </div>

    <div class ='container'  style='display:flex'>
        <div style='flex: 20%'>

        </div>
        <div style='flex: 80%'>      
            <div class='row apparellist'>
                <h1 style='font-weight: 600'>Shoes</h1>
                <div class='apparellist-item'>
                    {% for apparel in apparels %}
                        {% if apparel.sub_type|lower == 'shoes' %}
                            <div class='apparelitem'>
                                <a href="{% url "apparelapp:addcart" pk=apparel.id %}">
                                    <div class='item-img'>
                                        <img class='img-thumbnail' src='{{apparel.img.url}}' alt='...'>
                                    </div>
                                <div class='item-name'>
                                    <p>
                                        <a class='links' href='{% url "apparelapp:addcart" pk=apparel.id %}'>{{apparel.name | truncatechars_html:35 | upper }}
                                        </p>
                                    </p>
                                    <p>&#8369;{{apparel.price}}</p>
                                </div>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <br/>
            <div class='row apparellist'>
                <h1 style='font-weight: 600'>Underwear</h1>
                <div class='apparellist-item'>
                    {% for apparel in apparels %}
                        {% if apparel.sub_type|lower == 'underwears' %}
                            <div class='apparelitem'>
                                <a href="{% url "apparelapp:addcart" pk=apparel.id %}">
                                    <div class='item-img'>
                                        <img class='img-thumbnail   ' src='{{apparel.img.url}}' alt='...'>
                                    </div>
                                <div class='item-name'>
                                    <p>
                                        <a class='links' href='{% url "apparelapp:addcart" pk=apparel.id %}'>{{apparel.name | truncatechars_html:30 | upper  }}
                                        </a>
                                    </p>
                                    <p>&#8369;{{apparel.price}}</p>
                                </div>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
