{% extends "base.html" %}
{% load static %}

{% block title %}Topwears{% endblock title %}

{% block content %}

<section class='container-fluid'>
    <div id='types'>
         <div class='type rounded' >
             <img class='img-fluid rounded' src="{% static "apparelapp/images/uidesign/shirts.png" %}" alt='topwear'>
             <div class='typelink left'>
                 <h1>TopWears</h1>
                 <p>Shirts,Jackets, and Coats.</p>
             </div>
         </div>
    </div>
    <div class='d-flex container'>
        <div style='flex: 20%'>
            <div class=''>
                <h4 class='my-2'>Category</h4>
                <div clas='gap-3'>
                    <a class='nav-link filtercategory rounded my-1' href="{% url "apparelapp:topapparels" %}#shirts">SHIRTS</a>
                    <a class='nav-link filtercategory rounded my-1' href="{% url "apparelapp:topapparels" %}#jackets">JACKETS</a>
                    <a class='nav-link filtercategory rounded my-1' href="{% url "apparelapp:topapparels" %}#coats">COATS</a>
                </div>
            </div>
            <div>
                <h4 class='my-2'>Sort</h4>
                <form method="get">
                    <div class="form-check my-2">
                        <input class="form-check-input shadow" type="radio" name="radiofilter" id="default" value=''>
                        <label class="form-check-label" for="default">
                          Default
                        </label>
                      </div>
                      <div class="form-check my-2">
                        <input class="form-check-input shadow" type="radio" name="radiofilter" id="htol" value='htol'>
                        <label class="form-check-label" for="htol">
                          Sort by Price(Descending)
                        </label>
                      </div>
                      <div class="form-check my-2">
                        <input class="form-check-input shadow" type="radio" name="radiofilter" id="ltoh" value='ltoh'>
                        <label class="form-check-label" for="ltoh">
                            Sort by Price(Ascending)
                        </label>
                      </div>
                      <input class='button' type='submit' value='SORT'>
                </form>
            </div>
        </div>
        <div style='flex: 80%'>
            <div class='row apparellist'>
                <h1 style='font-weight: 600' id='shirts'>Shirts</h1>
                <hr>
                <div class='apparellist-item' >
                    {% for apparel in apparels %}
                        {% if apparel.sub_type|lower == 'shirts' %}
                            <div class='apparelitem'>
                                <a href="{% url "apparelapp:addcart" pk=apparel.id %}">
                                    <div class='item-img'>
                                        <img class='img-thumbnail' src='{{apparel.img.url}}' alt='...'>
                                    </div>
                                <div class='item-name'>
                                    <p>
                                        <a class='links' href='{% url "apparelapp:addcart" pk=apparel.id %}'>{{apparel.name | truncatechars_html:30 | upper }}
                                        </a>
                                    </p>
                                    <p>&#8369;{{apparel.price}}</p>
                                </div>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <br/>
            <div class='row apparellist'>
                <h1 style='font-weight: 600' id='jackets'>Jackets</h1>
                <hr>
                <div class='apparellist-item'>
                    {% for apparel in apparels %}
                        {% if apparel.sub_type|lower == 'jackets' %}
                            <div class='apparelitem'>
                                <a href="{% url "apparelapp:addcart" pk=apparel.id %}">
                                    <div class='item-img'>
                                        <img class='img-thumbnail' src='{{apparel.img.url}}' alt='...'>
                                    </div>
                                <div class='item-name'>
                                    <p>
                                        <a class='links' href='{% url "apparelapp:addcart" pk=apparel.id %}'>{{apparel.name | truncatechars_html:30 | upper }}
                                        </a>
                                    </p>
                                    <p>&#8369;{{apparel.price}}</p>
                                </div>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <br/>
            <div class='row apparellist'>
                <h1 style='font-weight: 600' id='coats'>Coats</h1>
                <hr>
                <div class='apparellist-item'>
                    {% for apparel in apparels %}
                        {% if apparel.sub_type|lower == 'coats' %}
                            <div class='apparelitem'>
                                <a href="{% url "apparelapp:addcart" pk=apparel.id %}">
                                    <div class='item-img'>
                                        <img class='img-thumbnail' src='{{apparel.img.url}}' alt='...'>
                                    </div>
                                <div class='item-name'>
                                    <p>
                                        <a class='links' href='{% url "apparelapp:addcart" pk=apparel.id %}'>{{apparel.name | truncatechars_html:30 | upper }}
                                        </a>
                                    </p>
                                    <p>&#8369;{{apparel.price}}</p>
                                </div>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
